.button {
    outline: none;
    border: none;
    border-radius: 10px;
    background: #363d80;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    font-size: 15pt;
    font-family: 'Overpass';
}

.disabled {
    background: #888;
    cursor: not-allowed;
}

.button:hover {
    background: #303766;
}

.disabled:hover {
    background: #888;
}
